<%- include('../../../partials/header.ejs') %>

    <div class="">
        <% if(questions.length!=0){ %>
            <div class="card card-body">
                <div class="text-center">
                    <h6>
                        Department of:
                        <%= questions[0].department %>
                    </h6>
                    <p>Year:
                        <%= questions[0].year %> , Semester:
                            <%= questions[0].semester %> , Session:
                                <%= questions[0].session %>
                    </p>
                    <p>Course Title:
                        <strong><%= questions[0].course_title %></strong> , Course Code:
                        <strong><%= questions[0].course_code %></strong> , Course Credit:
                        <strong><%= questions[0].course_credit %></strong> , Full Marks:
                        <strong><%= questions[0].full_marks %></strong>
                    </p>
                </div>

                <div class="card card-body">
                    <div class="row">
                        <div class="card col-lg-6">
                            <h5>Internal Question</h5>
                            <hr>
                            <table class="table table-condensed" style="border-collapse: collapse;">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" scope="col"></th>
                                        <th style="width: 15%;" scope="col">No</th>
                                        <th style="width: 5%;" scope="col">Section</th>
                                        <th style="width: 65%;" scope="col">Question</th>
                                        <th style="width: 10%;" scope="col">Marks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<8;i++){ %>
                                        <tr data-toggle="collapse" data-target=".demo<%- i %>" style="cursor: pointer;">
                                            <td></td>
                                            <td>Question:
                                                <%- i+1 %>
                                            </td>

                                        </tr>
                                        <% for(let j=0;j<4;j++){ %>
                                            <tr>
                                                <td class="hiddenRow">
                                                    <div class="form-check collapse demo<%- i %>">
                                                        <select id="internal" name="ddqstn" class="ddqstn" onchange="selectQuestion(this)">
                                                            <option value="" id=""></option>
                                                            <% for(let m=0;m<8;m++){ %>
                                                                <% for(let n=0;n<4;n++){ %>
                                                                    <option value="i-<%= m+1 %>-<%= String.fromCharCode(65+n); %>-<%-  (questions[0].questions[(i*4)+j].question_number) %>-<%-  (questions[0].questions[(i*4)+j].question_section) %>" class="c_<%= m+1 %><%= String.fromCharCode(65+n); %>" style="color : green;"><%= m+1 %><%= String.fromCharCode(65+n); %></option>
                                                                <% } %>  
                                                            <% } %>  
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i %>"></div>
                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i %>">
                                                        <p>
                                                            <%= questions[0].questions[(i*4)+j].question_section %>
                                                        </p>
                                                    </div>

                                                </td>

                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i %>">
                                                        <p>
                                                            <%- questions[0].questions[(i*4)+j].question %>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i %>">
                                                        <p>
                                                            <%= questions[0].questions[(i*4)+j].question_marks %>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="card col-lg-6">
                            <h5>External Question</h5>
                            <hr>
                            <table class="table table-condensed" style="border-collapse: collapse;">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;" scope="col"></th>
                                        <th style="width: 15%;" scope="col">No</th>
                                        <th style="width: 5%;" scope="col">Section</th>
                                        <th style="width: 65%;" scope="col">Question</th>
                                        <th style="width: 10%;" scope="col">Marks</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% for(let i=0;i<8;i++){ %>
                                        <tr data-toggle="collapse" data-target=".demo<%- i+8 %>" style="cursor: pointer;">
                                            <td></td>
                                            <td>Question:
                                                <%- i+1 %>
                                            </td>

                                        </tr>
                                        <% for(let j=0;j<4;j++){ %>
                                            <tr>
                                                <td class="hiddenRow">
                                                    <div class="form-check collapse demo<%- i+8 %>">
                                                        <select class="ddqstn" name="ddqstn" id="external" onfocus="this.oldvalue = this.value;" onchange="selectQuestion(this);this.oldvalue = this.value;">
                                                            <option value=""></option>
                                                            <% for(let m=0;m<8;m++){ %>
                                                                <% for(let n=0;n<4;n++){ %>
                                                                    <option value="e-<%= m+1 %>-<%= String.fromCharCode(65+n); %>-<%-  (questions[0].questions[(i*4)+j].question_number) %>-<%-  (questions[0].questions[(i*4)+j].question_section) %>" class="c_<%= m+1 %><%= String.fromCharCode(65+n); %>" style="color : green;"><%= m+1 %><%= String.fromCharCode(65+n); %></option>
                                                                <% } %>  
                                                            <% } %>  
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i+8 %>">

                                                    </div>
                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i+8 %>">
                                                        <p>
                                                            <%= questions[1].questions[(i*4)+j].question_section %>
                                                        </p>
                                                    </div>

                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i+8 %>">
                                                        <p>
                                                            <%- questions[1].questions[(i*4)+j].question %>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="hiddenRow">
                                                    <div class="collapse demo<%- i+8 %>">
                                                        <p>
                                                            <%= questions[1].questions[(i*4)+j].question_marks %>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="card col-lg-12">
                            <h5>Modarate Question</h5>
                            <hr>
                            <form action='/admin/question/<%= question_type %>/<%= questions[0].course_instructor_panel_id %>/<%= questions[0].uuid %>' method="post">
                                <ul class="nav nav-tabs justify-content-between mb-2">
                                    <% for(let j=0;j<8;j++){ %>
                                        <li class="nav-item rounded" style="border: 2px solid;">
                                            <a class="nav-link" data-bs-toggle="tab" href="#<%= String.fromCharCode(65+j); %>">Qustion <%= (j+1) %></a>
                                        </li>
                                        <% } %>
                                </ul>
                                <div class="tab-content">
                                    <% for(let j=0;j<8;j++){ %>
                                        <div id="<%= String.fromCharCode(65+j); %>" class="tab-pane">
                                            <table class="table" id="questions">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 5%;" scope="col">Q.No</th>
                                                        <th style="width: 5%;" scope="col">Q.Section</th>
                                                        <th style="width: 85%;" scope="col">Q.Description</th>
                                                        <th style="width: 5%;" scope="col">Q.Marks</th>

                                                    </tr>
                                                </thead>

                                                <body>
                                                    <% for(let i=0;i<4;i++){ %>
                                                        <tr>
                                                            <th scope="row">
                                                                <input class="form-control" size="5" type="text" name="qstn_number[]" value="<%= (j+1) %>" readonly="readonly">
                                                            </th>
                                                            <td>
                                                                <input class="form-control" size="5" type="text" name="qstn_section[]" id="" value="<%= String.fromCharCode(65+i); %>" readonly="readonly">
                                                            </td>
                                                            <% if(moderateQuestions.length!=0){ %>
                                                                <td><textarea class="form-control" cols="90" rows="3" name="qstn[]" id="<%= j+1 %><%= String.fromCharCode(65+i)%>"><%- moderateQuestions[0].questions[(j*4)+i].question %></textarea></td>
                                                                <td><input class="form-control" style="width: 5em;" type="number" id="mark<%= j+1 %><%= String.fromCharCode(65+i)%>" name="qstn_marks[]" value="<%= moderateQuestions[0].questions[(j*4)+i].question_marks %>"></td>
                                                                <% }else{ %>
                                                                    <td><textarea class="form-control" cols="90" rows="3" name="qstn[]" id="<%= j+1 %><%= String.fromCharCode(65+i)%>"></textarea></td>
                                                                    <td><input class="form-control" style="width: 5em;" type="number" id="mark<%= j+1 %><%= String.fromCharCode(65+i)%>" name="qstn_marks[]"></td>
                                                                    <% } %>

                                                        </tr>
                                                        <% } %>
                                                </body>
                                            </table>
                                        </div>
                                        <% } %>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Submit Question</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% }else { %>
                <p>No Questions Available</p>
                <% } %>

    </div>



    <%- include('../../../partials/footer.ejs') %>
        <script src="https://cdn.tiny.cloud/1/upwt06bkd22wjvd85hwgqgio2i717lcqw64ao14miyke0lyv/tinymce/5/tinymce.min.js"></script>
        <script src="https://wiris.net/demo/plugins/app/WIRISplugins.js?viewer=image"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



        <script src="/scripts/tinymce2.js"></script>
        <script type="text/javascript">
            let internal_question = []
            let external_question = []
            let moderate_question = []
            let temp_question
            let array = []
            $(document).ready(function() {



                const type = 'moderate'
                const id = '<%= questions[0].course_instructor_panel_id %>'
                const uuid = '<%= questions[0].uuid %>'

                var url = `http://localhost:1000/admin/all-question/moderate/${id}/${uuid}`


                $.getJSON(url, function(data1) {
                    let internal = data1.questions[0].questions
                    let external = data1.questions[1].questions
                    let moderate = data1.moderateQuestions[0].questions
                    $.each(internal, function(index, value) {

                        internal_question.push(value)
                    })
                    $.each(external, function(index, value) {
                        external_question.push(value)

                    })
                    $.each(moderate, function(index, value) {
                        moderate_question.push(value)

                    })
                })






            })

            function selectQuestion(info) {



                let value = info.value
                console.log(value)
                let temp = value.split('-')

                let q_type = temp[0]
                let target_q_number = temp[1]
                let target_q_section = temp[2]
                let source_q_number = temp[3]
                let source_q_section = temp[4]

                let question_desc


                if (q_type === 'i') {

                    question_desc = internal_question.filter(function(v, i) {
                        return ((v['question_number'] == source_q_number && v['question_section'] == source_q_section))
                    })



                } else if (q_type === 'e') {
                    question_desc = external_question.filter(function(v, i) {
                        return ((v['question_number'] == source_q_number && v['question_section'] == source_q_section))
                    })

                }

                console.log(question_desc)

                let id = target_q_number + target_q_section

                tinymce.init({
                    selector: id
                });

                tinymce.get(id).setContent(question_desc[0].question)
                document.getElementById('mark' + id).value = question_desc[0].question_marks
                var x = document.getElementsByClassName("c_" + id)
                for (let i = 0; i < x.length; i++) {
                    x[i].style.color = "red";
                }

            }
        </script>

        </body>

        </html>