<!doctype html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/styles/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/d8a373be04.js" crossorigin="anonymous"></script>

</head>

<body>


    <div class="mt-2">
        <div class="container">
            <% if(questions.length!=0){ %>
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <div>
                                <h6>
                                    Department of:
                                    <%= questions[0].department %>
                                </h6>
                                <p>Year:
                                    <%= questions[0].year %> , Semester:
                                        <%= questions[0].semester %> , Session:
                                            <%= questions[0].session %>
                                </p>
                                <p>Course Title:
                                    <strong><%= questions[0].course_title %></strong> , Course Code:
                                    <strong><%= questions[0].course_code %></strong> , Course Credit:
                                    <strong><%= questions[0].course_credit %></strong> , Full Marks:
                                    <strong><%= questions[0].full_marks %></strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <table class="table" style="border-collapse: collapse;">

                            <div>
                                <tbody>
                                    <% for(let i=0;i<8;i++){ %>
                                        <tr class="bg-secondary text-white" data-toggle="" data-target="" style="cursor: pointer;">
                                            <th style="width: 10%;">Question:
                                                <%- i+1 %>
                                            </th>
                                            <th style="width: 5%;"></th>
                                            <th style="width: 75%;"></th>
                                            <th style="width: 10%;"></th>

                                        </tr>
                                        <% for(let j=0;j<4;j++){ %>
                                            <tr>
                                                <td class="">
                                                    <div class=""></div>
                                                </td>
                                                <td class="">
                                                    <div class="">
                                                        <p>
                                                            <%= questions[0].questions[(i*4)+j].question_section %>
                                                        </p>
                                                    </div>

                                                </td>
                                                <td class="">
                                                    <div class="">
                                                        <p>
                                                            <%- questions[0].questions[(i*4)+j].question %>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="">
                                                    <div class="">
                                                        <p>
                                                            <%= questions[0].questions[(i*4)+j].question_marks %>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
                <% }else { %>
                    <p>No Questions Available</p>
                    <% } %>
        </div>
        <button class="btn btn-primary mr-5" onclick="printPage()">Print</button>
    </div>





    <script type="text/javascript">
        function printPage() {
            window.print()
        }
        //$(document).ready(function() {
        //$('.collapse').on('show.bs.collapse', function() {
        //$('.collapse.in').collapse('hide');
        //});
        //});
    </script>

</body>

</html>