<div class="my-2">
    <%if(flashMessage.success){%>
        <div class="alert alert-success alert-dismissible fade show my-3">
            <%= flashMessage.success %>
            <button class="close" data-dismiss="alert" arra-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <%}%>
    <%if(flashMessage.fail){%>
        <div class="alert alert-danger alert-dismissible fade show my-3">
            <%= flashMessage.fail %>
            <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <%}%>

</div>