<%- include('../../partials/header.ejs') %>

    <div>
        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <h5>Home Page</h5>

                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>