<%- include('../../partials/header.ejs') %>

    <div>
        <div class="container">
            <div class="my-2">
                <div class="">
                    <h5>Add Question Page</h5>
                    <div class="row">
                        <div class="col">
                            <div class="card card-body">
                                <p>** Please uploda pdf file or create question.</p>
                                <button class="btn btn-secondary">
                                    <a class="add-question" href="">Upload PDF</a>
                                </button>
                                <p class="text-center paragraph-tag">or</p>
                                <button class="btn btn-secondary">
                                    <a class="add-question" href="/teacher/create-question">Create Question</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>