<%- include('../../partials/header.ejs') %>


    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <div>
                        <h6>
                            Department of
                            <%= info.department_name %>
                        </h6>

                        <p>Year:
                            <%= info.year %> , Semester:
                                <%= info.semester %> , Session:
                                    <%= info.session %>
                        </p>
                        <p>Course Title:
                            <strong><%= info.course_instructor_panel_members[0].course.course_title %></strong> , Course Code:
                            <strong><%= info.course_instructor_panel_members[0].course.course_code %></strong> , Course Credit:
                            <strong><%= info.course_instructor_panel_members[0].course.theory_credit %></strong> , Full Marks:
                            <strong><%= info.course_instructor_panel_members[0].course.see %></strong>
                        </p>
                    </div>
                </div>
                <hr>
                <form action='/teacher/create-question/<%= type %>/<%= info.course_instructor_panel_members[0].uuid %>/<%= info.id %>' method="POST">
                    <ul class="nav nav-tabs justify-content-between mb-2">
                        <% for(let j=0;j<8;j++){ %>
                            <li class="nav-item rounded" style="border: 2px solid;">
                                <a class="nav-link" data-bs-toggle="tab" href="#<%= String.fromCharCode(65+j); %>">Qustion <%= (j+1) %></a>
                            </li>
                            <% } %>
                    </ul>
                    <div class="tab-content">
                        <% for(let j=0;j<8;j++){ %>
                            <div id="<%= String.fromCharCode(65+j); %>" class="tab-pane">
                                <table class="table" id="questions">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;" scope="col">Q.No</th>
                                            <th style="width: 5%;" scope="col">Q.Section</th>
                                            <th style="width: 85%;" scope="col">Q.Description</th>
                                            <th style="width: 5%;" scope="col">Q.Marks</th>

                                        </tr>
                                    </thead>

                                    <body>
                                        <% for(let i=0;i<4;i++){ %>
                                            <tr>
                                                <th scope="row">
                                                    <input class="form-control" size="5" type="text" name="qstn_number[]" value="<%= (j+1) %>" readonly="readonly">
                                                </th>
                                                <td>
                                                    <input class="form-control" size="5" type="text" name="qstn_section[]" id="" value="<%= String.fromCharCode(65+i); %>" readonly="readonly">
                                                </td>
                                                <% if(questions.length!=0){ %>
                                                    <td><textarea class="form-control" cols="90" rows="3" name="qstn[]" id="tiny-mce-post-body<%= (j*4)+i %>"><%= questions[(j*4)+i].question %></textarea></td>
                                                    <td><input class="form-control" style="width: 5em;" type="number" name="qstn_marks[]" value="<%= questions[(j*4)+i].question_marks %>"></td>
                                                    <% }else{ %>
                                                        <td><textarea class="form-control" cols="90" rows="3" name="qstn[]" id="tiny-mce-post-body<%= (j*4)+i %>"></textarea></td>
                                                        <td><input class="form-control" style="width: 5em;" type="number" name="qstn_marks[]"></td>
                                                        <% } %>

                                            </tr>
                                            <% } %>
                                    </body>
                                </table>
                            </div>
                            <% } %>
                    </div>
                    <input type="submit" class="btn btn-primary mt-3" value="Submit Question">
                    <!-- <button type="submit" class="btn btn-primary mt-3">Submit Question</button> -->
                </form>
            </div>
        </div>
    </div>


    <%- include('../../partials/footer.ejs') %>
        <script src="https://cdn.tiny.cloud/1/upwt06bkd22wjvd85hwgqgio2i717lcqw64ao14miyke0lyv/tinymce/5/tinymce.min.js"></script>
        <script src="https://wiris.net/demo/plugins/app/WIRISplugins.js?viewer=image"></script>

        <script src="/scripts/tinymce.js"></script>

        </body>

        </html>