<%- include('../../partials/header.ejs') %>

<style>
	body {
    font-family: Arial;
  }

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
  justify-content: space-between;
  margin-right: 20px;

  
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.table-internal{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.table-third,.table-external {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
}

.table-internal thead th,.table-external thead th,.table-third thead th {
  border: 1px solid #e4eff8;
  background: white;
  cursor: pointer;
}


.table-internal th,.table-external th,.table-third th,
.table-internal td,.table-external td,.table-third td{
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.table-internal td,.table-external td,.table-third td {
  border: 1px solid #e4eff8;
}

.table-internal .tr-inputs th,.table-external .tr-inputs th,.table-third .tr-inputs th {
  position: relative;
  padding: 0;
  padding-bottom: 1.2rem;
  margin: 0;
}

.table .td-inputs div {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.table-internal input,.table-external input,.table-third input {
  width: 100%;
  box-sizing: border-box;
}
.table-internal input[type='number'],.table-external input[type='number'],.table-third input[type='number'] {
  width: 100%;
  box-sizing: border-box;
}

</style>

    <div class="container">
        <div class="card">
            <div class="card-body">
               
                <div class="text-center">
                    <div>
                        <h6>
                            Department of
                            <%= info.department_name %>
                        </h6>

                        <p>Year:
                            <%= info.year %> , Semester:
                                <%= info.semester %> , Session:
                                    <%= info.session %>
                        </p>
                        <p>Course Title:
                            <strong><%= info.course_examiner_panel_members[0].course.course_title %></strong> , Course Code:
                            <strong><%= info.course_examiner_panel_members[0].course.course_code %></strong> , Course Credit:
                            <strong><%= info.course_examiner_panel_members[0].course.theory_credit %></strong> , Full Marks:
                            <strong><%= info.course_examiner_panel_members[0].course.see %></strong>
                        </p>
                        <h5 style="text-transform:capitalize"><%= type %> Examiner</h5>
                    </div>
                </div>
                <hr>
                <div class="tab">
                  <button class="tablinks" onclick="openCity(event, 'Summary')">Summary</button>
                  <button class="tablinks" onclick="openCity(event, 'Detailed')">Detailed</button>
                </div>
                <% if(type==='internal') {%> 
                <form action='/teacher/submit-marks/<%=type%>/<%=info.course_examiner_panel_members[0].uuid%>/<%=info.id%>/<%=question_information_id%>' method="POST">
                      <div id="Summary" class="tabcontent">
                        <table style="margin-left:auto;margin-right:auto;" class="table-internal" id="table_field">
                            <thead>
                                <tr>
                                    <th scope="col">Student Id</th>
                                    <th  scope="col">Marks</th>
                                    <th  scope="col">Class Test</th>
                                    <th  scope="col">Attendence</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% for(let i=0;i<student.length;i++){ %>
                                        <tr>
                                            <td><div><input style="text-align: center;" size="10" type="text" name="student_id[]" value="<%= student[i].student_id %> " readonly required></div></td>
                                            <td><div><input style="width: 8em" type="number" name="internal_total[]" value="" id="number" step="0.1" required></div></td>
                                            <td><input style="width: 8em" type="number" name="ce[]" id="number" value="" step="0.1" required></td>
                                            <td><input style="width: 8em" type="number" name="attendence[]" id="number" value="" step="0.1" required></td>
                                        </tr>
                                        <% } %>
                            </tbody>
                        </table>
                        <!-- <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button> -->
                      </div>
                      
                      <div id="Detailed" class="tabcontent">
                        <h3>Comming Soon</h3>
                      </div>
                      
                    <button type="submit" class="btn btn-primary mt-3" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Mark</button>
                </form>
                <% }else if(type==='external') {%>
                  <form action='/teacher/submit-marks/<%=type %>/<%=info.course_examiner_panel_members[0].uuid %>/<%=info.id%>/<%=question_information_id%>' method="POST">
                      <div id="Summary" class="tabcontent">
                        <table style="margin-left:auto;margin-right:auto;" class="table-external" id="table_field">
                            <thead>
                                <tr>
                                    <th scope="col">Student Id</th>
                                    <th  scope="col">Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% for(let i=0;i<student.length;i++){ %>
                                        <tr>
                                            <td><div><input style="text-align: center;" size="10" type="text" name="student_id[]" value="<%= student[i].student_id %>" readonly required></div></td>
                                            <td><div><input style="width: 12em" type="number" name="external_total[]" value="" id="number" step="0.1" required></div></td>
                                        </tr>
                                        <% } %>
                            </tbody>
                        </table>
                        <!-- <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button> -->
                      </div>
                      
                      <div id="Detailed" class="tabcontent">
                        <h3>Comming Soon</h3>
                      </div>
                      
                    <button type="submit" class="btn btn-primary mt-3" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Mark</button>
                </form>
                  <% }else {%>
                    <form action='/teacher/submit-marks/<%=type %>/<%=info.course_examiner_panel_members[0].uuid%>/<%=info.id%>/<%=question_information_id%>' method="POST">
                        <div id="Summary" class="tabcontent">
                          <table style="margin-left:auto;margin-right:auto;" class="table-third" id="table_field">
                              <thead>
                                  <tr>
                                      <th scope="col">Student Id</th>
                                      <th  scope="col">Marks</th>
                                  </tr>
                              </thead>
                              <tbody>
                                      <% for(let i=0;i<student.length;i++){ %>
                                          <tr>
                                              <td><div><input style="text-align: center;" size="10" type="text" name="student_id[]" value="<%= student[i].student_id %>" readonly required></div></td>
                                              <td><div><input style="width: 12em" type="number" name="third_total[]" value="" id="number" step="0.1" required></div></td>
                                          </tr>
                                          <% } %>
                              </tbody>
                          </table>
                          <!-- <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button> -->
                        </div>
                        
                        <div id="Detailed" class="tabcontent">
                          <h3>Comming Soon</h3>
                        </div>
                        
                      <button type="submit" class="btn btn-primary mt-3" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Mark</button>
                  </form>
                    <% } %>   
                
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <%- include('../../partials/footer.ejs') %>
        

    
    <script>
        function openCity(evt, eventname) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(eventname).style.display = "block";
          evt.currentTarget.className += " active";
        }

        $(document).ready(function() {
            var rowIdx = 0;
            $('#addBtn').on('click', function() {
              var type = '<%-type %>'
              console.log(type);
              if(type==='internal'){
                $('#table_field').append(`<tr id="R${++rowIdx}"><td><input style="text-align:center" size="10" type="text" name="student_id[]" value="" required></td>
                                            <td><input style="width: 8em;" type="number" name="marks[]" value="" id="number" step="0.1" required></td>
                                            <td><input style="width: 8em;" type="number" name="continuous_evaluation[]" id="number" value="" step="0.1" required></td>
                                            <td><input style="width: 8em;" type="number" name="attendence[]" id="number" value="" step="0.1" required></td>
                                            <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);

              }
              else if(type==='external'){
                $('#table_field').append(`<tr id="R${++rowIdx}"><td><input style="text-align:center" size="10" type="text" name="student_id[]" value="" required></td>
                                            <td><input  style="width: 12em;" type="number" name="marks[]" value="" id="number" step="0.1" required></td>
                                            <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);
              }
              else{
                $('#table_field').append(`<tr id="R${++rowIdx}"><td><input style="text-align:center" size="10" type="text" name="student_id[]" value="" required></td>
                                            <td><input  style="width: 12em;" type="number" name="marks[]" value="" id="number" step="0.1" required></td>
                                            <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);
              }
                
            });
            $('#table_field').on('click', '#delete', function() {
            
                $(this).closest('tr').remove();
               
            });
        });
        </script>
        <script src="//code.jquery.com/jquery.min.js"></script>
       
</body>

</html>