<%- include('../../partials/header.ejs') %>

    <div>
        <div class="container">
            <div class="my-2">
                <div class="">
                    <h5>Home Page For:
                        <%= user.name %>
                    </h5>
                    <div class="row m-2">
                        <div class="col-lg-4 col-md-4 col-sm-12 border-right">

                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" width="150px" src="<%= user.avatar!=''?user.avatar:" https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg " %>">
                                <span class="font-weight-bold">
                                        <%= user.name %>
                                            </span>
                                <span class="text-black-50"><%= user.email %> </span>
                                <span class="text-black-50"><strong>Phone Number: </strong><%= user.phone_number %> </span>
                                <span class="text-black-50"><strong>Bank Acc.: </strong><%= user.banck_account%> </span>
                                <span class="text-black-50"><strong>Dept. Name: </strong><%= user.department_name %> </span>
                                <span class="text-black-50"><strong>Current Desig.: </strong><%= user.current_designation %> </span>
                                <span class="text-black-50"><strong>Univesity: </strong><%= user.university_name %> </span>
                                <span class="text-black-50"><strong>Role: </strong><%= user.role=='2'?'Internal':'External' %> </span>
                            </div>
                            <div class="text-center">

                            </div>

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card card-body">
                                        <a class="text-black admin_home_card_text text-center" href="/teacher/selected-committee">View Selected Committee</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="card card-body">
                                        <a class="text-black admin_home_card_text text-center" href="/teacher/add-question">Add Question</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>