<%- include('../../partials/header.ejs') %>

    <div>
        <div class="container">
            <div class="my-2">
                <div class="">
                    <h5>Selected Exam Committee For :
                        <%= user.name %>
                    </h5>
                    <div class="m-2">
                        <div class="row">
                            <% for(let i=0;i<selected_exam_committee.length;i++){ %>
                                <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                                    <div class="card card-body">
                                        <h4>
                                            Session:
                                            <%= selected_exam_committee[i].session %>
                                        </h4>
                                        <h5>
                                            Year:
                                            <%= selected_exam_committee[i].year %>
                                        </h5>
                                        <h5>
                                            Semester:
                                            <%= selected_exam_committee[i].semester %>
                                        </h5>
                                        <a href="/teacher/view-exam-committee/<%= selected_exam_committee[i].id %> " class="btn btn-secondary">Details</a>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>