<%- include('../../partials/header.ejs') %>

    <div class="my-container">
        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <div style="overflow: hidden;">
                        <div style="float: left;">
                            <h4>Department of:
                                <%= selected_exam_committee_details.department_name %>
                            </h4>
                        </div>

                    </div>
                    <hr>
                    <div>
                        <h5>Session:
                            <%= selected_exam_committee_details.session %>
                        </h5>
                        <h6>
                            <p>Year:
                                <%= selected_exam_committee_details.year %>
                            </p>
                            Semester:
                            <%= selected_exam_committee_details.semester %>
                        </h6>
                    </div>
                    <div style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                        <h2 class="text-center">Exam Committee Information</h2>
                    </div>
                    <hr>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Member</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<selected_exam_committee_details.exam_committee_members.length;i++){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= (i+1) %>
                                        </th>
                                        <td>
                                            <%= selected_exam_committee_details.exam_committee_members[i].exam_committee_role.role_type %>
                                        </td>
                                        <td>
                                            <%= selected_exam_committee_details.exam_committee_members[i].user.name %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>