<%- include('../../../partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <form action="/admin/add-internal-external" method="POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="number" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label>Bank Account</label>
                        <input type="number" class="form-control" id="bank_account" name="bank_account" placeholder="Enter Bank Account">
                    </div>
                    <div class="form-group">
                        <label>Department Name</label>
                        <input type="text" class="form-control" id="department_name" name="department_name" placeholder="Enter Department Name">
                    </div>
                    <div class="form-group">
                        <label>Current Designation</label>
                        <input type="text" class="form-control" id="current_designation" name="current_designation" placeholder="Enter Current Designation">
                    </div>
                    <div class="form-group">
                        <label>University Name</label>
                        <input type="text" class="form-control" id="university_name" name="university_name" placeholder="Enter University Name">
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select name="role" id="role">
                            <option>--Select Role--</option>
                            <option value="2">Internal</option>
                            <option value="3">External</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('../../../partials/footer.ejs') %>


        </body>

        </html>