<%- include('../../../partials/header.ejs') %>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="<%= data.avatar!=''?data.avatar:" https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg " %>">
                    <span class="font-weight-bold">
                        <%= data.name %>
                            </span>
                    <span class="text-black-50"><%= data.email %> </span><span> </span></div>
                <div class="text-center">
                    <% if(data.status==1){ %>
                        <button class="btn btn-success profile-button" id="handleProfile" data-user="<%= data.id %>" type="button">Disable Profile</button>
                        <% }else{ %>
                            <button class="btn btn-danger profile-button" id="handleProfile" data-user="<%= data.id %>" type="button">Enable Profile</button>
                            <% } %>
                </div>
            </div>
            <div class="col-md-8 border-right">
                <form action="/admin/view-internal-external/profile/update/<%= data.id %>" method="POST">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Details</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Name</label><input type="text" id="name" name="name" class="form-control" placeholder="first name" value="<%= data.name %>"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Email</label><input type="email" class="form-control" value="<%= data.email %>" disabled></div>
                            <div class="col-md-12">
                                <label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" id="phone_number" name="phone_number" value="<%= data.phone_number %>">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Bank Account</label>
                                <input type="text" class="form-control" id="banck_account" name="bank_account" value="<%= data.bank_account %>">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Department</label>
                                <input type="text" class="form-control" id="department_name" name="department_name" value="<%= data.department_name %>">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Designation</label>
                                <input type="text" class="form-control" id="current_designation" name="current_designation" value="<%= data.current_designation %>">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">University</label>
                                <input type="text" class="form-control" id="university_name" name="university_name" value="<%= data.university_name %>">
                            </div>
                            <div class="col-md-12 mt-2">
                                <label class="labels">Role</label>
                                <select name="role" id="role">
                                    <option value="<%= data.role %>"><%= data.role=='2'?'Internal':'External' %></option>
                                    <% if(data.role=='2'){ %>
                                        <option value="3">External</option>
                                    <% }else{ %>
                                        <option value="2">Internal</option>
                                    <% } %>   
                                    
                                    
                                </select>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>

    <%- include('../../../partials/footer.ejs') %>
        <script>
            let handleProfile = document.getElementById('handleProfile')
            handleProfile.addEventListener('click', () => {
                let internalExternalId = handleProfile.dataset.user
                enableDiable(internalExternalId)
                    .then(res => res.json())
                    .then(data => {
                        console.log(data)
                        if (data.active) {
                            //jQuery(function($) {
                            // $("handleProfile").removeClass('btn-danger').addClass('btn-success')
                            //});
                            handleProfile.classList.remove('btn-danger')
                            handleProfile.classList.add('btn-success')
                            handleProfile.innerHTML = 'Disable Profile'
                        } else {
                            //jQuery(function($) {
                            //$("handleProfile").removeClass('btn-success').addClass('btn-danger')
                            //});
                            handleProfile.classList.remove('btn-success')
                            handleProfile.classList.add('btn-danger')
                            handleProfile.innerHTML = 'Enable Profile'
                        }
                    }).catch(e => {
                        console.log(e)
                        alert(e.response.data.error)
                    })
            })



            function enableDiable(id) {
                let headers = new Headers()
                headers.append('Accept', 'Application/JSON')
                headers.append('Content-Type', 'Application/JSON')

                let req = new Request(`/admin/view-internal-external/profile/enable-disable/${id}`, {
                    method: 'GET',
                    headers,
                    mode: 'cors'
                })
                return fetch(req)
            }
        </script>

        </body>

        </html>