<%- include('../../../partials/header.ejs') %>

    <div class="container">
        <div>
            <h1>Internal & External Teacher</h1>
            <hr>
            <div class="card card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Department</th>
                            <th scope="col">University</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <% if(data.length>0){ %>
                        <% for(let i=0;i<data.length;i++){ %>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <%= i+1 %>
                                    </th>
                                    <td>
                                        <%= data[i].name %>
                                    </td>
                                    <td>
                                        <%= data[i].email %>
                                    </td>
                                    <td>
                                        <%= data[i].department_name %>
                                    </td>
                                    <td>
                                        <%= data[i].university_name %>
                                    </td>
                                    <td>
                                        <% if(data[i].status==1){ %>
                                            <p class="text-success font-weight-bold">Active</p>
                                            <% }else{ %>
                                                <p class="text-danger font-weight-bold">Disable</p>
                                                <% } %>
                                    </td>
                                    <td>
                                        <a href="/admin/view-internal-external/profile/<%= data[i].id %>" class="btn btn-info">View</a>
                                    </td>
                                </tr>
                            </tbody>
                            <% } %>
                                <% }else{ %>
                                    <p>There Is No Data</p>
                                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <%- include('../../../partials/footer.ejs') %>


        </body>

        </html>