* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: white;
    width: 100%;
    margin-bottom: 100px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


footer {
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background: #343A40;
    color: #ffffff;
    text-align: center;
}

.add-question {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.add-question:hover {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.paragraph-tag {
    font-size: 22px;
    color: black;
    font-weight: 400;
}

.admin_home_card_text {
    font-size: 22px;
    text-decoration: none;
    font-weight: 400;
}

.department {
    display: flex;
    flex-direction: row;
}
/* button{
    box-shadow:  5px 5px 5px 2px #888888;
}
a{
    box-shadow:  5px 5px 5px 2px #888888;
} */

#number {
    width: 4em;
    text-align: center;
}

#year {
    width: 120px;
    height: 50px;
    display: inline;
}


.hiddenRow{
    padding:0 !important;
}

// internal external profile


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

// internal external profile


