<%- include('../../partials/header.ejs') %>

    <div class="my-container">
        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <h5>Admin Page</h5>
                    <h4>Department of:
                        <%= department_name %>
                    </h4>
                    <hr>


                    <div class="row">

                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/add-internal-external" class="text-black admin_home_card_text text-center">Add Internal/External</a>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/view-internal-external" class="text-black admin_home_card_text text-center">View Internal/External</a>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/add-course" class="text-black admin_home_card_text text-center">Add Course</a>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/view-courses" class="text-black admin_home_card_text text-center">View All Courses</a>
                            </div>
                        </div>

                        <!-- <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/create-instructor-panel" class="text-black admin_home_card_text text-center">Create Course Instructor Panel</a>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/view-course-instructor-panel" class="text-black admin_home_card_text text-center">View Course Instructor Panel</a>
                            </div>
                        </div> -->

                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/create-exam-committee" class="text-black admin_home_card_text text-center">Create Exam Comittee</a>
                            </div>
                        </div>

                        <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
                            <div class="card card-body">
                                <a href="/admin/view-exam-committee" class="text-black admin_home_card_text text-center">View Exam Committee</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs') %>

            </body>

            </html>