<%- include('../../partials/header.ejs') %>

    <form action="/admin/course-examiner/send-email/<%= data.id %>" method="post">
        <div class="my-container">
            <div class="container">
                <div class="card my-2">
                    <div class="card-body">
                        <div style="overflow: hidden;">
                            <div style="float: left;">
                                <h5>Admin Page</h5>
                                <h4>Department of:
                                    <%= user.department_name %>
                                </h4>
                            </div>

                            <div style="float: right;">
                                <p style="font-size: 16px; color:black; font-weight: bold;">Exam Marks Submission Last Date:</p>
                                <input type="date" id="lastDate" name="lastDate" style="border: 2px solid black; border-radius: 5px; padding: 10px;">
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5>Session:
                                <%= data.session %>
                            </h5>
                            <h6>
                                <p>Year:
                                    <%= data.year %>
                                </p>
                                Semester:
                                <%= data.semester %>
                            </h6>
                        </div>
                        <div style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                            <h2 class="text-center">Examiner Panel Information</h2>
                        </div>
                        <hr>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Course Code</th>
                                        <th scope="col">Internal</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">External</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Third Examiner</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<data.course_examiner_panel_members.length;i++){ %>
                                        <tr>
                                            <th scope="row">
                                                <%= (i+1) %>
                                            </th>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].course.course_code %>
                                            </td>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].internal_examiner.name%>
                                            </td>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].internal_examiner.email%>
                                            </td>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].external_examiner.name %>
                                            </td>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].external_examiner.email %>
                                            </td>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].third_examiner.name %>
                                            </td>
                                            <td>
                                                <%= data.course_examiner_panel_members[i].third_examiner.email %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <!-- <a href="/admin/course-instructor/send-email/<%= data.id %> " class="btn btn-primary m-1" style="float: right;">Send Email</a> -->
                            <button type="submit" class="btn btn-primary m-1" style="float: right;">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <%- include('../../partials/footer.ejs') %>


      

        </body>

        </html>