<%- include('../../partials/header.ejs') %>

    <form action="/admin/course-instructor/send-email/<%= data.id %>" method="post">
        <div class="my-container">
            <div class="container">
                <div class="card my-2">
                    <div class="card-body">
                        <div style="overflow: hidden;">
                            <div style="float: left;">
                                <h5>Admin Page</h5>
                                <h4>Department of:
                                    <%= user.department_name %>
                                </h4>
                            </div>

                            <div style="float: right;">
                                <p style="font-size: 16px; color:black; font-weight: bold;">Question Submission Last Date:</p>
                                <input type="date" id="lastDate" name="lastDate" style="border: 2px solid black; border-radius: 5px; padding: 10px;">
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5>Session:
                                <%= data.session %>
                            </h5>
                            <h6>
                                <p>Year:
                                    <%= data.year %>
                                </p>
                                Semester:
                                <%= data.semester %>
                            </h6>
                        </div>
                        <div style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                            <h2 class="text-center">Course Instructor Panel Information</h2>
                        </div>
                        <hr>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Course Code</th>
                                        <th scope="col">Internal</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">External</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0;i<data.course_instructor_panel_members.length;i++){ %>
                                        <tr>
                                            <th scope="row">
                                                <%= (i+1) %>
                                            </th>
                                            <td>
                                                <%= data.course_instructor_panel_members[i].course.course_code %>
                                            </td>
                                            <td>
                                                <%= data.course_instructor_panel_members[i].internal_instructor.name%>
                                            </td>
                                            <td>
                                                <%= data.course_instructor_panel_members[i].internal_instructor.email%>
                                            </td>
                                            <td>
                                                <%= data.course_instructor_panel_members[i].external_instructor.name %>
                                            </td>
                                            <td>
                                                <%= data.course_instructor_panel_members[i].external_instructor.email %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <!-- <a href="/admin/course-instructor/send-email/<%= data.id %> " class="btn btn-primary m-1" style="float: right;">Send Email</a> -->
                            <button type="submit" class="btn btn-primary m-1" style="float: right;">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <%- include('../../partials/footer.ejs') %>


        <!--  -->
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">



                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Do You Want TO Disable This Instructor Panel?</h4>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="disable_instructor_panel()" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>


                </div>
            </div>
        </div>
        <!--  -->

        <!-- script -->
        <script>
            function disable_instructor_panel() {
                var id = '<%- data.id%>'
                var request = new XMLHttpRequest();
                request.open('PUT', 'http://localhost:1000/admin/view-course-instructor-panel/disable/' + id);
                request.send();
                request.onload = () => {
                    window.location = "http://localhost:1000/admin/view-course-instructor-panel"
                }
            }
        </script>
        <!-- script -->

        </body>

        </html>