<%- include('../../partials/header.ejs') %>

    <div class="my-container container">
        <a href="/admin/add-course" class="btn btn-light">Back</a>
        <h1 class="text-center mt-4 mb-4">Course Submit</h1>
        <div class="card p-5">
           
            <form action="/admin/add-course" method="POST" enctype="multipart/form-data">
                <div class="department mb-3 " style="justify-content: center;"><h2>Department:</h2>
                    <input style="font-size: 22px;font-weight: bold; text-align: center;" size="10" type="text" value="<%= user.department_name %>" name="department" readonly class="p-1">
                </div>
                <div class="card card-body">
                    <br>
                    <div class="form-group mb-2">
                        <label for="session" class="mr-5">Choose a Session :</label>
                        <select name="session" id="session" class="p-2">
                    <option value="">--choose Session--</option>
                    <% for(let i=0;i<sessions.length;i++){ %> 
                    <option value="<%= sessions[i].session %>"><%= sessions[i].session %> </option>
                   <% } %> 
                  </select>
                    </div>
                    <div class="form-group mt-4">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="course">
                    </div>
                   
                </div>
                <button type="submit" class="btn btn-light">Submit</button>
               
            </form>
           
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
        $('#exampleFormControlFile1').on('change', function(e) {
            let filename = e.target.files[0].name
            $(this).next('.form-control-file').html(filename)
        })
    </script>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>