<%- include('../../partials/header.ejs') %>

    <div class="my-container container">
        <a href="/" class="btn btn-light">Back</a>
        <div class="card-body">
            <form action="/admin/create-exam-committee" method="POST">
                <div>
                    <div class="form-group mb-2">
                        <table class="table table-striped" id="table_field">
                            <tbody>
                                <tr>
                                    <div class="department mb-3">
                                        <h1>Department:</h1>
                                        <input style="font-size: 22px;font-weight: bold; text-align: center;" type="text" value="<%= user.department_name %>" name="department" readonly class="p-1">
                                    </div>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Session: <select name="session" id="session" class="p-2">
                                <option>--choose Session --</option>
                                <% for(let i=0;i<sessions.length;i++){ %> 
                                    <option value="<%= sessions[i].session %>"><%= sessions[i].session %> </option>
                                <% } %> 
                            </select></td>
                                    <td style="font-weight: bold;">Year: <select name="year" id="year" class="p-2">
                                <option>--choose Exam Year --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select></td>
                                    <td style="font-weight: bold;">Semester: <select name="semester" id="semester" class="p-2">
                                <option>--choose Exam Semester --</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                
                            </select></td>

                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Role: <select name="exam_committee_roles[]" id="exam_committee_roles" class="p-2">
                                <option>--choose Committee Role --</option>
                                <% for(let i=0;i<committee_roles.length;i++){ %>
                                    <option value="<%= committee_roles[i].id %> "><%= committee_roles[i].role_type %> </option>
                                    <% } %>  
                            </select></td>
                                    <td style="font-weight: bold;">Member: <select name="exam_committee_members[]" id="exam_committee_members" class="p-2">
                                <option>--choose Committee Member--</option>
                                <% for(let i=0;i<users.length;i++){ %>
                                <option value="<%= users[i].id %> "><%= users[i].name %> </option>
                                <% } %> 
                            </select></td>
                                    <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button>
                <button type="submit" class="btn btn-light mb-5" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Committe</button>
            </form>
        </div>
    </div>


    <%- include('../../partials/footer.ejs') %>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                var url1 = 'http://localhost:1000/admin/api/exam-committee-roles'
                var url2 = 'http://localhost:1000/admin/api/get-teachers'

                let array1 = []
                var option = ''
                $.getJSON(url1, function(data1) {
                    $.each(data1, function(index, value) {
                        array1.push(value)
                        option += '<option value="' + value.id + '">' + value.role_type + '</option>';
                        console.log(index)
                    })
                    console.log(array1)
                    console.log(option)
                })


                let array2 = []
                var option2 = ''
                $.getJSON(url2, function(data2) {
                    $.each(data2, function(index, value) {
                        array2.push(value)
                        option2 += '<option value="' + value.id + '">' + value.name + '</option>';
                    })
                    console.log(array2)
                    console.log(option2)
                })

                var rowIdx = 0;
                $('#addBtn').on('click', function() {
                    $('#table_field').append(`<tr id="R${++rowIdx}">
                          <td  style="font-weight: bold;">Role: 
                            <select name="exam_committee_roles[]" id="exam_committee_roles" class="p-2">
                            <option>--choose Committee Role --</option>
                            ${option}
                            
                            
                           </select>
                          </td>

                          <td  style="font-weight: bold;">Member: <select name="exam_committee_members[]" id="exam_committee_members" class="p-2">
                            <option>--choose Committee Member--</option>
                            ${option2}
                          </select></td>
                        <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);
                });


                $('#table_field').on('click', '#delete', function() {
                    $(this).closest('tr').remove();
                });
            });
        </script>

        </body>

        </html>