<%- include('../../partials/header.ejs') %>
    <div class="my-container container mb-5">
        <a href="/admin/add-course-file" class="btn btn-light">Back</a>
        <div class="card-body">
            <form action="/admin/course" method="POST">
                <div>
                    <div class="department"><h2>Department:</h2>
                        <input style="font-size: 22px;font-weight: bold; text-align: center;" size="10" type="text" value="<%= course[0].department_name %>" name="department" readonly class="p-1">
                    </div>
                    <div class="form-group mb-2 mt-3">
                        <label for="session" class="mr-5">Session :</label>
                        <% if(course[0].session_name==='' ){ %>
                            <select name="session" id="session" class="p-2">
                <option value="">--choose Session--</option>
                <% for(let i=0;i<sessions.length;i++){ %> 
                    <option value="<%= sessions[i].session %>"><%= sessions[i].session %> </option>
                <% } %> 
                </select>
                            <% }else{ %>
                                <input type="text" value="<%= course[0].session_name%>" name="session">
                                <% } %>
                    </div>
                    <table class="table" id="table_field">
                        <thead>
                            <tr>
                                <th scope="col">Course Code</th>
                                <th scope="col">Course Title</th>
                                <th scope="col">Course Type</th>
                                <th style="width: 3%;" scope="col">Theory Credit</th>
                                <th style="width: 3%;" scope="col">Lab Credit</th>
                                <th style="width: 3%;" scope="col">Total Credit</th>
                                <th style="width: 3%;" scope="col">Class Test</th>
                                <th style="width: 3%;" scope="col">Attendence</th>
                                <th style="width: 3%;" scope="col">SEE</th>
                                <th style="width: 3%;" scope="col">SE</th>
                                <th style="width: 3%;" scope="col">Total Marks</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% if(course[0].course_title==='' ){%>
                                <% for(let i=0;i<6;i++){ %>
                                    <tr>
                                        <td><input size="6" type="text" name="course_code[]" value="" required></td>
                                        <td><input size="30" type="text" name="course_title[]" value="" required> </th>
                                            <td> <select name="course_type" id="course_type" class="p-2">
                        <option value="">--choose Course Type--</option>
                        <option value="theory">Theory</option>
                        <option value="laboratory">Laboratory</option>
                        <option value="others">Others</option>
                        </select></td>

                                            <td><input size="2" type="number" name="theory_credit[]" value="" id="number" step="0.1" required></td>
                                            <td><input size="2" type="number" name="lab_credit[]" value="" id="number" step="0.1" required></td>
                                            <td><input size="2" type="number" name="total_credit[]" value="" id="number" step="0.1" required></td>
                                            <td><input size="3" type="number" name="continuous_evaluation[]" id="number" value="" step="0.1" required></td>
                                            <td><input size="3" type="number" name="attendence[]" id="number" value="" step="0.1" required></td>
                                            <td><input size="3" type="number" name="see[]" value="" id="number" step="0.1" required></td>
                                            <td><input size="3" type="number" name="se[]" value="" id="number" step="0.1" required></td>
                                            <td><input size="3" type="number" name="total_mark[]" value="" id="number" step="0.1" required></td>
                                            <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                    <% } %>

                                        <% }else{ %>
                                            <% for(let i=0;i<course.length;i++){ %>
                                                <tr>
                                                    <td><input size="6" type="text" name="course_code[]" value="<%= course[i].course_code%>" required></td>
                                                    <td><input size="30" type="text" name="course_title[]" value="<%= course[i].course_title%>" required> </td>
                                                    <td><input size="6" type="text" name="course_type[]" value="<%= course[i].course_type %>" required></td>
                                                    <td><input size="2" type="number" id="number" name="theory_credit[]" value="<%= course[i].theory_credit%>" step="0.1" required> </td>
                                                    <td><input size="2" type="number" id="number" name="lab_credit[]" value="<%= course[i].lab_credit%>" step="0.1" required></td>
                                                    <td><input size="2" type="number" id="number" name="total_credit[]" value="<%= course[i].total_credit%>" step="0.1" required></td>
                                                    <td><input size="3" type="number" id="number" name="continuous_evaluation[]" value="<%= course[i].ce%>" step="0.1" required></td>
                                                    <td><input size="3" type="number" id="number" name="attendence[]" value="<%= course[i].attendence%>" step="0.1" required></td>
                                                    <td><input size="3" type="number" id="number" name="see[]" value="<%= course[i].see%>" step="0.1" required></td>
                                                    <td><input type="number" size="3" id="number" name="se[]" value="<%= course[i].se%>" step="0.1" required></td>
                                                    <td><input size="3" type="number" id="number" name="total_mark[]" value="<%= course[i].total_mark%>" step="0.1" required></td>
                                                    <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                                                </tr>
                                                <% } %>
                                                    <% } %>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button>
                <button type="submit" class="btn btn-light" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Courses</button>
            </form>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var rowIdx = 0;
            $('#addBtn').on('click', function() {
                $('#table_field').append(`<tr id="R${++rowIdx}"><td ><input  type="text" size='6'  name="course_code[]" required></td><td  ><input size='30' type="text" name="course_title[]" required></td> <td > <select name="course_type" id="course_type" class="p-2">
                      <option value="">--choose Course Type--</option>
                      <option value="theory">Theory</option>
                      <option value="laboratory">Laboratory</option>
                      <option value="others">Others</option>
                    </select></td>
                    <td><input  type="number" id="number" name="theory_credit[]" required  step="0.1"></td> <td ><input  type="number" id="number" name="lab_credit[]"  step="0.1" required></td>
                              <td ><input id="number" type="number" name="total_credit[]" step="0.1" required></td>
                              <td ><input id="number" type="number" name="continuous_evaluation[]"  step="0.1" required></td>
                              <td ><input id="number" type="number" name="attendence[]"  step="0.1" required></td>
                              <td ><input id="number" type="number" name="see[]"  step="0.1" required></td>
                              <td><input id="number" type="number" name="se[]"  step="0.1" required></td>
                              <td ><input  type="number" name="total_mark[]" value="" id="number" step="0.1" required></td>
                              <td ><a onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);
            });
            $('#table_field').on('click', '#delete', function() {
                // var child = $(this).closest('tr').nextAll();
                // child.each(function () {
                //   var id = $(this).attr('id');
                //   var dig = parseInt(id.substring(1));
                //   idx.html(`Row ${dig - 1}`);
                //   // Modifying row id.
                //   $(this).attr('id', `R${dig - 1}`);
                // });
                // // Removing the current row.
                // $('#table').on('click','')
                $(this).closest('tr').remove();
                // Decreasing total number of rows by 1.
                //rowIdx--;
            });
        });
    </script>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>
