<%- include('../../partials/header.ejs') %>
<style>
    .table-internal{
  font-family: Arial, Helvetica, sans-serif;
  width: 35%;
}


.table-internal thead th{
  border: 1px solid #e4eff8;
  background: white;
  cursor: pointer;
}


.table-internal th,
.table-internal td{
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.table-internal td{
  border: 1px solid #e4eff8;
}

.table-internal .tr-inputs th{
  position: relative;
  padding: 0;
  padding-bottom: 1.2rem;
  margin: 0;
}

.table .td-inputs div {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.table-internal input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.table-internal input[type='number'],.table-external input[type='number'],.table-third input[type='number'] {
  width: 100%;
  box-sizing: border-box;
}
</style>
    <div class="my-container container mb-5">
        <a href="/" class="btn btn-light">Back</a>
        <div class="card my-4">

          <div class="card-body">
              <form action="/admin/<%=id%>/<%= course_instructor_panel_member_id %>/<%= course_id%>/submit-register-students" method="POST">
                  <div>
                      <div class="department"><h2>Department:</h2>
                          <input style="font-size: 22px;font-weight: bold; text-align: center;text-transform: uppercase;margin-bottom:20px;" size="10" type="text" value="<%= student[0].department_name %>" name="department" readonly class="p-1">
                      </div>
                  
                      <table  style="margin-left:auto;margin-right:auto;" class="table-internal" id="table_field">
                          <thead>
                              <tr>
                                  <th scope="col">Stuent ID</th>
                                  <th scope="col">Action</th>
  
                              </tr>
                          </thead>
                          <tbody>
                              <% for(let i=0;i<student.length;i++){ %>
                                <tr>
                                    <td><div><input size="30" type="text" name="student_id[]" value="<%= student[i].student_id%>" required></div></th>
                                    <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                                </tr>
                                <% } %>
                          </tbody>
                      </table>
                  </div>
                  <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button>
                  <button type="submit" class="btn btn-light" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Students</button>
              </form>
          </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var rowIdx = 0;
            $('#addBtn').on('click', function() {
                $('#table_field').append(`<tr id="R${++rowIdx}"><td><div><input size="30" type="text" name="student_id[]" value="" required></div></th>
                                        <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);
            });
            $('#table_field').on('click', '#delete', function() {
                // var child = $(this).closest('tr').nextAll();
                // child.each(function () {
                //   var id = $(this).attr('id');
                //   var dig = parseInt(id.substring(1));
                //   idx.html(`Row ${dig - 1}`);
                //   // Modifying row id.
                //   $(this).attr('id', `R${dig - 1}`);
                // });
                // // Removing the current row.
                // $('#table').on('click','')
                $(this).closest('tr').remove();
                // Decreasing total number of rows by 1.
                //rowIdx--;
            });
        });
    </script>

    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>