<%- include('../../partials/header.ejs') %>
    <div class="my-container container">
        <a href="/" class="btn btn-light">Back</a>
        <div class="card-body">
            <form action="/admin/create-examiner-panel/<%= exam_committee.id %>" method="POST">
                <div>
                    <div class="form-group mb-2">
                        <table class="table table-striped" id="table_field">
                            <tbody>
                                <tr>
                                    <div class="department mb-3">
                                        <h1>Department:</h1>
                                        <input style="font-size: 22px;font-weight: bold; text-align: center;" type="text" value="<%= exam_committee.department_name %>" name="department" readonly class="p-1">
                                    </div>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Session:
                                        <%= exam_committee.session %>
                                    </td>
                                    <td style="font-weight: bold;">Year:
                                        <%= exam_committee.year %>
                                    </td>
                                    <td style="font-weight: bold;">Semester:
                                        <%= exam_committee.semester %>
                                    </td>

                                </tr>


                                <tr>
                                    <td style="font-weight: bold;">Course: <select name="course[]" id="course" class="p-2">
                                        <option>--choose Course --</option>
                                        <% for(let i=0;i<question_info.length;i++){ %> 
                                            <option value="<%= question_info[i].course_id %>"><%= question_info[i].course_code %> </option>
                                        <% } %> 
                                    
                                    </select></td>
                                    <td style="font-weight: bold;">Internal: <select name="internal[]" id="internal" class="p-2">
                                        <option>--choose Internal --</option>
                                        <% for(let i=0;i<internal.length;i++){ %> 
                                            <option value="<%= internal[i].id %>"><%= internal[i].name %> </option>
                                        <% } %> 
                                    </select></td>
                                    <td style="font-weight: bold;">External: <select name="external[]" id="external" class="p-2">
                                        <option>--choose External --</option>
                                        <% for(let i=0;i<external.length;i++){ %> 
                                            <option value="<%= external[i].id %>"><%= external[i].name %> </option>
                                        <% } %> 
                                    </select></td>
                                    <td style="font-weight: bold;">Third Examiner: <select name="third[]" id="third" class="p-2">
                                                <option>--choose Third Examiner --</option>
                                                <% for(let i=0;i<internal.length;i++){ %> 
                                                    <option value="<%= internal[i].id %>"><%= internal[i].name %> </option>
                                                <% } %> 
                                            </select></td>
                                    <td><a style="margin-top: 25px;" onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button>
                <button type="submit" class="btn btn-light mb-5" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Submit Examiner Panel</button>
            </form>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                const department = '<%-exam_committee.department_name%>'
                const session = '<%-exam_committee.session%>';
                const year = '<%-exam_committee.year%>';
                const semester = '<%-exam_committee.semester%>';
                var url1 = `http://localhost:1000/admin/api/${department}/${session}/${year}/${semester}/get-question-courses`;
                var url2 = 'http://localhost:1000/admin/api/get-Internalteachers';
                var url3 = 'http://localhost:1000/admin/api/get-Externalteachers';


                let array1 = []
                var option = ''
                $.getJSON(url1, function(data1) {
                    $.each(data1, function(index, value) {
                        array1.push(value)
                        option += '<option value="' + value.id + '">' + value.course_code + '</option>';
                        console.log(index)
                    })
                    console.log(array1)
                    console.log(option)
                })


                let array2 = []
                var option2 = ''
                $.getJSON(url2, function(data2) {
                    $.each(data2, function(index, value) {
                        array2.push(value)
                        option2 += '<option value="' + value.id + '">' + value.name + '</option>';
                    })
                    console.log(array2)
                    console.log(option2)
                })

                let array3 = []
                var option3 = ''
                $.getJSON(url3, function(data3) {
                    $.each(data3, function(index, value) {
                        array3.push(value)
                        option3 += '<option value="' + value.id + '">' + value.name + '</option>';
                    })
                    console.log(array3)
                    console.log(option3)
                })

                var rowIdx = 0;
                $('#addBtn').on('click', function() {
                    $('#table_field').append(`<tr id="R${++rowIdx}">
                        <td  style="font-weight: bold;">Course: 
                            <select name="course[]" id="course" class="p-2">
                            <option>--choose Course --</option>
                            ${option}
                           </select>
                          </td>
                          <td  style="font-weight: bold;">Internal: 
                            <select name="internal[]" id="internal" class="p-2">
                            <option>--choose Internal--</option>
                            ${option2}
                           </select>
                          </td>
                          <td  style="font-weight: bold;">External: 
                            <select name="external[]" id="external" class="p-2">
                            <option>--choose External--</option>
                            ${option3}
                          </select>
                          </td>
                        <td  style="font-weight: bold;">Third Examiner: 
                            <select name="third[]" id="third" class="p-2">
                            <option>--choose Third Examiner --</option>
                            ${option2}
                           </select>
                          </td>
                        <td><a style="margin-top:25px" onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                        </tr>`);
                });


                $('#table_field').on('click', '#delete', function() {
                    // var child = $(this).closest('tr').nextAll();
                    // child.each(function () {
                    //   var id = $(this).attr('id');
                    //   var dig = parseInt(id.substring(1));
                    //   idx.html(`Row ${dig - 1}`);
                    //   // Modifying row id.
                    //   $(this).attr('id', `R${dig - 1}`);
                    // });
                    // // Removing the current row.
                    // $('#table').on('click','')
                    $(this).closest('tr').remove();
                    // Decreasing total number of rows by 1.
                    //rowIdx--;
                });
            });
        </script>
        </body>

        </html>