<%- include('../../partials/header.ejs') %>

    <div class="my-container container">
        <a href="/admin/view-exam-committee/<%=data.id %> " class="btn btn-light">Back</a>

            <div class="card-body">
                <form action="/admin/edit-course-examiner-panel/<%= data.id %> " method="POST">
                    <div>
                        <div class="form-group mb-2">
                            <table class="table table-striped" id="table_field">
                                <tbody>
                                    <tr>
                                        <div class="department mb-3">
                                            <h1>Department:</h1>
                                            <input style="font-size: 22px;font-weight: bold; text-align: center;" type="text" value="<%= exam_committe_panel.department_name %>" name="department" readonly class="p-1">
                                        </div>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Session: <%=exam_committe_panel.session%></td>
                                        <td style="font-weight: bold;">Year: <%=exam_committe_panel.year%></td>
                                        <td style="font-weight: bold;">Semester: <%=exam_committe_panel.semester%></td>
    
                                    </tr>
    
                                    <tr>
                                    <% for(let k=0;k<data.course_examiner_panel_members.length;k++){ %>

                                    <td style="font-weight: bold;">Course: <select name="course[]" id="course" class="p-2">
                                    <option value="<%= data.course_examiner_panel_members[k].course.id %>"><%= data.course_examiner_panel_members[k].course.course_code %></option>
                                    <% for(let i=0;i<question_info.length;i++){ %>
                                        <option value="<%= question_info[i].id %>"><%= question_info[i].course_code %> </option>
                                        <% } %>  
                                </select></td>
    
                                <td style="font-weight: bold;">Internal: <select name="internal[]" id="internal" class="p-2">
                                    <option value="<%= data.course_examiner_panel_members[k].internal_examiner.id%>"><%= data.course_examiner_panel_members[k].internal_examiner.name %></option>
                                    <% for(let i=0;i<internal.length;i++){ %>
                                        <option value="<%= internal[i].id %>"><%= internal[i].name %> </option>
                                        <% } %>  
                                </select></td>
    
                                <td style="font-weight: bold;">External: <select name="external[]" id="external" class="p-2">
                                    <option value="<%= data.course_examiner_panel_members[k].external_examiner.id %>"><%=  data.course_examiner_panel_members[k].external_examiner.name %></option>
                                    <% for(let i=0;i<external.length;i++){ %>
                                        <option value="<%= external[i].id %>"><%= external[i].name %> </option>
                                    <% } %>
                                </select></td>
                                <td style="font-weight: bold;">Third Examiner: <select name="third[]" id="third" class="p-2">
                                    <option value="<%= data.course_examiner_panel_members[k].third_examiner.id %>"><%=  data.course_examiner_panel_members[k].third_examiner.name %></option>
                                    <% for(let i=0;i<internal.length;i++){ %>
                                    <option value="<%= internal[i].id %>"><%= internal[i].name %> </option>
                                    <% } %> 
                                </select></td>
                                <td><a onclick="" id="delete" class="btn btn-danger">Delete</a></td>
                                            <td>
                                                <input type="hidden" name="id[]" id="id" value="<%= data.course_examiner_panel_members[k].id %>">
                                            </td>
                                        </tr>
    
                                        <% } %>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-md btn-light" id="addBtn" type="button">Add new Row</button>
                    <button type="submit" class="btn btn-light mb-5" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Update Examiner Panel</button>
                </form>
            </div>

    </div>


    <%- include('../../partials/footer.ejs') %>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                const department='<%-exam_committe_panel.department_name%>';
                const session='<%-exam_committe_panel.session%>';
                const year='<%-exam_committe_panel.year%>';
                const semester='<%-exam_committe_panel.semester%>';
                var url1 = `http://localhost:1000/admin/api/${department}/${session}/${year}/${semester}/get-question-courses`;
                var url2 = 'http://localhost:1000/admin/api/get-Internalteachers'
                var url3 = 'http://localhost:1000/admin/api/get-Externalteachers'


                let array1 = []
                var option = ''
                $.getJSON(url1, function(data1) {
                    $.each(data1, function(index, value) {
                        array1.push(value)
                        option += '<option value="' + value.id + '">' + value.course_code + '</option>';
                        console.log(index)
                    })
                    console.log(array1)
                    console.log(option)
                })


                let array2 = []
                var option2 = ''
                $.getJSON(url2, function(data2) {
                    $.each(data2, function(index, value) {
                        array2.push(value)
                        option2 += '<option value="' + value.id + '">' + value.name + '</option>';
                    })
                    console.log(array2)
                    console.log(option2)
                })

                let array3 = []
                var option3 = ''
                $.getJSON(url3, function(data3) {
                    $.each(data3, function(index, value) {
                        array3.push(value)
                        option3 += '<option value="' + value.id + '">' + value.name + '</option>';
                    })
                    console.log(array3)
                    console.log(option3)
                })

                var rowIdx = 0;
                $('#addBtn').on('click', function() {
                    $('#table_field').append(`<tr id="R${++rowIdx}">
                        <td  style="font-weight: bold;">Course: 
                            <select name="course[]" id="course" class="p-2">
                            <option>--choose Course --</option>
                            ${option}
                            
                            
                           </select>
                          </td>
                          <td  style="font-weight: bold;">Internal: 
                            <select name="internal[]" id="internal" class="p-2">
                            <option>--choose Internal --</option>
                            ${option2}
                            
                            
                           </select>
                          </td>

                          <td  style="font-weight: bold;">External: <select name="external[]" id="external" class="p-2">
                            <option>--choose External--</option>
                            ${option3}
                          </select></td>
                          <td style="font-weight: bold;">Third Examiner: <select name="third[]" id="third" class="p-2">
                                    <option>--choose Third Examiner--</option>
                                   ${option2}
                                </select></td>
                        <td><a style="margin-top:25px" onclick="" id="delete" class="btn btn-danger">Delete</a></td></tr>`);
                });


                $('#table_field').on('click', '#delete', function() {
                    // var child = $(this).closest('tr').nextAll();
                    // child.each(function () {
                    //   var id = $(this).attr('id');
                    //   var dig = parseInt(id.substring(1));
                    //   idx.html(`Row ${dig - 1}`);
                    //   // Modifying row id.
                    //   $(this).attr('id', `R${dig - 1}`);
                    // });
                    // // Removing the current row.
                    // $('#table').on('click','')
                    $(this).closest('tr').remove();
                    // Decreasing total number of rows by 1.
                    //rowIdx--;
                });
                
                $(document).on('click', '.delete_member', function() {
                    var id = $(this).val();
                    $('#deleteModal').modal('show');
                    //alert(id)
                    $('#course_instructor_panel_member_id').val(id)

                })

                $(document).on('click', '.disable_course_instructor_panel_member_id', function() {
                    var id = $(this).val()
                    $.ajax({
                        url: '/admin/edit-course-instructor-panel/disable-member/' + id,
                        type: 'PUT',
                        success: function(response) {
                            $('#deleteModal').modal('toggle');
                            location.reload()
                        }
                    })
                })
            });
        </script>


        </body>

        </html>