<%- include('../../partials/header.ejs') %>

    <div class="my-container container">
        <form action="/admin/edit-exam-committee/<%= data.id %> " method="POST">
            <div>
                <div class="form-group mb-2">
                    <table class="table table-striped" id="table_field">
                        <tbody>
                            <tr>
                                <div class="department mb-3">
                                    <h1>Department:</h1>
                                    <input style="font-size: 22px;font-weight: bold; text-align: center;" type="text" value="<%= user.department_name %>" name="department" readonly class="p-1">
                                </div>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Session: <select name="session" id="session" class="p-2">
                            <option value="<%= data.session %> "><%= data.session %> </option>
                            <% for(let i=0;i<sessions.length;i++){ %> 
                                <option value="<%= sessions[i].session %>"><%= sessions[i].session %> </option>
                               <% } %> 
                          </select></td>
                                <td style="font-weight: bold;">Year: <select name="year" id="year" class="p-2">
                            <option value="<%= data.year %> "><%= data.year %> </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select></td>
                                <td style="font-weight: bold;">Semester: <select name="semester" id="semester" class="p-2">
                            <option value="<%= data.semester %> "><%= data.semester %> </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            
                          </select></td>

                            </tr>

                            <% for(let k=0;k<data.exam_committee_members.length;k++){ %>
                                <tr>

                                    <td style="font-weight: bold;">Role: <select name="exam_committee_roles[]" id="exam_committee_roles" class="p-2">
                            <option value="<%= data.exam_committee_members[k].member_role %>"><%= data.exam_committee_members[k].exam_committee_role.role_type %></option>
                            <% for(let i=0;i<committee_roles.length;i++){ %>
                                <option value="<%= committee_roles[i].id %>"><%= committee_roles[i].role_type %> </option>
                                <% } %>  
                          </select></td>
                                    <td style="font-weight: bold;">Member: <select name="exam_committee_members[]" id="exam_committee_members" class="p-2">
                            <option value="<%= data.exam_committee_members[k].member_id %>"><%= data.exam_committee_members[k].user.name %></option>
                            <% for(let i=0;i<users.length;i++){ %>
                              <option value="<%= users[i].id %>"><%= users[i].name %> </option>
                              <% } %> 
                          </select></td>
                                    <td><button type="button" class="btn btn-danger delete_member" id="delete_member" value="<%= data.exam_committee_members[k].id %>">Delete</button></td>
                                    <td><input type="hidden" name="id[]" id="id" value="<%= data.exam_committee_members[k].id %>"> </td>
                                </tr>

                                <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-md btn-primary" id="addBtn" type="button">Add new Row</button>
            <button type="submit" class="btn btn-primary mb-5" style="margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Update Committe</button>
        </form>
    </div>


    <%- include('../../partials/footer.ejs') %>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                var url1 = 'http://localhost:1000/admin/api/exam-committee-roles'
                var url2 = 'http://localhost:1000/admin/api/get-teachers'

                let array1 = []
                var option = ''
                $.getJSON(url1, function(data1) {
                    $.each(data1, function(index, value) {
                        array1.push(value)
                        option += '<option value="' + value.id + '">' + value.role_type + '</option>';
                        console.log(index)
                    })
                    console.log(array1)
                    console.log(option)
                })


                let array2 = []
                var option2 = ''
                $.getJSON(url2, function(data2) {
                    $.each(data2, function(index, value) {
                        array2.push(value)
                        option2 += '<option value="' + value.id + '">' + value.name + '</option>';
                    })
                    console.log(array2)
                    console.log(option2)
                })

                var rowIdx = 0;
                $('#addBtn').on('click', function() {
                    $('#table_field').append(`<tr id="R${++rowIdx}">
                          <td  style="font-weight: bold;">Role: 
                            <select name="exam_committee_roles[]" id="exam_committee_roles" class="p-2">
                            <option>--choose Committee Role --</option>
                            ${option}
                            
                            
                           </select>
                          </td>

                          <td  style="font-weight: bold;">Member: <select name="exam_committee_members[]" id="exam_committee_members" class="p-2">
                            <option>--choose Committee Member--</option>
                            ${option2}
                          </select></td>
                        <td><button id="delete" class="btn btn-danger">Delete</button></td></tr>
                        <td><input type="hidden" value=""></td>`);
                });


                $('#table_field').on('click', '#delete', function() {

                    $(this).closest('tr').remove();

                });

                $(document).on('click', '.delete_member', function() {
                    var id = $(this).val();
                    $('#deleteModal').modal('show');
                    //alert(id)
                    $('#committee_member_id').val(id)

                })

                $(document).on('click', '.disable_committee_member_id', function() {
                    var id = $(this).val()
                    $.ajax({
                        url: '/admin/edit-exam-committee/disable-member/' + id,
                        type: 'PUT',
                        success: function(response) {
                            $('#deleteModal').modal('toggle');
                            location.reload()
                        }
                    })
                })
            });
        </script>

        <!--  -->
        <!-- The Modal -->

        <div class="modal fade" id="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Do You Want to Remove This Member?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!-- <input type="hidden" id="committee_member_id" name="id"> -->
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-info disable_committee_member_id" id="committee_member_id">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <!--  -->


        </body>

        </html>