<%- include('../../partials/header.ejs') %>

    <form action="/admin/internal-examiner/send-email/<%=exam_committee.id%>/<%= data.id %>" method="post">
        <div class="my-container">
            <div class="container">
                <div class="card my-2">
                    <div class="card-body">
                        <div style="overflow: hidden;">
                            <div style="float: left;">
                                <h5>Admin Page</h5>
                                <h4>Department of:
                                    <%= user.department_name %>
                                </h4>
                            </div>

                            <div style="float: right;">
                                <p style="font-size: 16px; color:black; font-weight: bold;">Exam Marks Submission Last Date:</p>
                                <input type="date" id="lastDate" name="lastDate" style="border: 2px solid black; border-radius: 5px; padding: 10px;">
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5>Session:
                                <%= exam_committee.session %>
                            </h5>
                            <h6>
                                <p>Year:
                                    <%= exam_committee.year %>
                                </p>
                                Semester:
                                <%= exam_committee.semester %>
                            </h6>
                        </div>
                        <div style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                            <h2 class="text-center">Internal Examiner Information</h2>
                        </div>
                        <hr>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Course Code</th>
                                        <th scope="col">Internal</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>
                                                <%= data.course.course_code %>
                                            </td>
                                            <td>
                                                <%= data.internal_examiner.name%>
                                            </td>
                                            <td>
                                                <%= data.internal_examiner.email%>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                            <!-- <a href="/admin/course-instructor/send-email/<%= data.id %> " class="btn btn-primary m-1" style="float: right;">Send Email</a> -->
                            <button type="submit" class="btn btn-primary m-1" style="float: right;">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <%- include('../../partials/footer.ejs') %>


      

        </body>

        </html>