<%- include('../../partials/header.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container mt-3">
        <a href="/admin/view-courses" class="btn btn-light">Back</a>
        <h1 class="text-center">All Courses</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-between mb-2" role="tablist">
            <% for(let j=1;j<=4;j++){%>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#<%=String.fromCharCode(65+j);%>">Year <%=j%> </a>
                </li>
                <% } %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <% for(let j=1;j<=4;j++) {%>
                <div id="<%=String.fromCharCode(65+j);%>" class="tab-pane">
                    <ul class="nav nav-tabs mb-2 " role="tablist">
                        <li>
                            <a class="nav-link justify-content-between" data-bs-toggle="tab" href="#<%=String.fromCharCode(65+j);%>1">Semester 1</a>
                        </li>
                        <li>
                            <a class="nav-link justify-content-between" data-bs-toggle="tab" href="#<%=String.fromCharCode(65+j);%>2">Semester 2</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="<%=String.fromCharCode(65+j);%>1" class="tab-pane">
                        <table class="table" id=table_field>
                            <thead>
                                <tr>
                                    <th style="width: 5%;" scope="col">Dept</th>
                                    <th style="width: 5%;" scope="col">Session</th>
                                    <th style="width: 5%;" scope="col">Course Code</th>
                                    <th style="width: 25%;" scope="col">Course Title</th>
                                    <th style="width: 5%;" scope="col">Course Type</th>
                                    <th style="width: 5%;" scope="col">Theory Credit</th>
                                    <th style="width: 5%;" scope="col">Lab Credit</th>
                                    <th style="width: 5%;" scope="col">Total Credit</th>
                                    <th style="width: 10%;" scope="col">CE</th>
                                    <th style="width: 5%;" scope="col">Attend</th>
                                    <th style="width: 5%;" scope="col">SEE</th>
                                    <th style="width: 5%;" scope="col">SE</th>
                                    <th style="width: 5%;" scope="col">Total Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% courses.forEach((course)=>{%>
                                    <% const courseKey=course.course_code.slice(-4) %>
                                        <% if(courseKey[0]===j.toString() && courseKey[1]==='1'){%>

                                            <tr>
                                                <td style="text-align: center;">
                                                    <%= course.department_name %>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.session_name%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.course_code%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.course_title%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.course_type%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.theory_credit%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.lab_credit%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.total_credit%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.ce%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.attendence%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.see%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.se%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.total_mark%>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <%})%>
                            </tbody>
                        </table>
                    </div>
                    <div id="<%=String.fromCharCode(65+j);%>2" class="tab-pane">
                        <table class="table" id=table_field>
                            <thead>
                                <tr>
                                    <th style="width: 5%;" scope="col">Dept</th>
                                    <th style="width: 5%;" scope="col">Session</th>
                                    <th style="width: 5%;" scope="col">Course Code</th>
                                    <th style="width: 25%;" scope="col">Course Title</th>
                                    <th style="width: 5%;" scope="col">Course Type</th>
                                    <th style="width: 5%;" scope="col">Theory Credit</th>
                                    <th style="width: 5%;" scope="col">Lab Credit</th>
                                    <th style="width: 5%;" scope="col">Total Credit</th>
                                    <th style="width: 10%;" scope="col">CE</th>
                                    <th style="width: 5%;" scope="col">Attend</th>
                                    <th style="width: 5%;" scope="col">SEE</th>
                                    <th style="width: 5%;" scope="col">SE</th>
                                    <th style="width: 5%;" scope="col">Total Marks</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% courses.forEach((course)=>{%>
                                    <% const courseKey=course.course_code.slice(-4) %>
                                        <% if(courseKey[0]===j.toString() && courseKey[1]==='2'){%>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <%= course.department_name %>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.session_name%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.course_code%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.course_title%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.course_type%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.theory_credit%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.lab_credit%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.total_credit%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.ce%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.attendence%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.see%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.se%>
                                                </td>
                                                <td style="text-align: center;">
                                                    <%= course.total_mark%>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <%}%>
        </div>

    </div>


    <%- include('../../partials/footer.ejs') %>

        <script type="text/javascript">
        </script>
        </body>

        </html>