<%- include('../../partials/header.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="/styles/jquery-multitabs.css" rel="stylesheet" type="text/css">
<style>
	body { font-family:'Roboto'; background-color:#fafafa;}
	.tab__content > div {
	  padding: 2em 0;
	}
	.tab1,
	.tab2 {
	  margin: 15px 0;
	}
	
	</style>
  <div class="container mt-3">
    <a href="/admin/view-courses" class="btn btn-light">Back</a>
    <h1 class="text-center">All Courses</h1>

    <div class="tab3">
      <div data-child="false" class="tab__header">
        <div class="tab__header-1 tab__header--active">Year 1</div>
        <div class="tab__header-2">Year 2</div>
        <div class="tab__header-3">Year 3</div>
        <div class="tab__header-4">Year 4</div>
      </div>
      <div class="tab__content">
      <div class="tab__content-1 tab__content--active">
        <div class="tab">
        <div data-child="true" class="tab__header">
          <div class="tab__header-1 tab__header--active">Semester 1</div>
          <div class="tab__header-2">Semester 2</div>
        </div>
        <div class="tab__content">
          
          <div class="tab__content-1 tab__content--active">
            <div>
              <a style="float: right;" href="/admin/edit-course/<%= session_name %>/11" class="btn btn-primary">Edit</a>
            </div>
                <table class="table" id=table_field>
                  <thead>
                    <tr>
                      <th style="width: 5%;" scope="col">Dept</th>
                      <th style="width: 5%;" scope="col">Session</th>
                      <th style="width: 5%;" scope="col">Course Code</th>
                      <th style="width: 25%;" scope="col">Course Title</th>
                      <th style="width: 5%;" scope="col">Course Type</th>
                      <th style="width: 5%;" scope="col">Theory Credit</th>
                      <th style="width: 5%;" scope="col">Lab Credit</th>
                      <th style="width: 5%;" scope="col">Total Credit</th>
                      <th style="width: 10%;" scope="col">CE</th>
                      <th style="width: 5%;" scope="col">Attend</th>
                      <th style="width: 5%;" scope="col">SEE</th>
                      <th style="width: 5%;" scope="col">SE</th>
                      <th style="width: 5%;" scope="col">Total Marks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% courses.forEach((course)=>{%>
                      <% const courseKey=course.course_code.slice(-4) %>
                        <% if(courseKey[0]==='1' && courseKey[1]==='1'){%>
    
                          <tr>
                            <td style="text-align: center;">
                              <%= course.department_name %>
                            </td>
                            <td style="text-align: center;">
                              <%= course.session_name%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.course_code%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.course_title%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.course_type%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.theory_credit%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.lab_credit%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.total_credit%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.ce%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.attendence%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.see%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.se%>
                            </td>
                            <td style="text-align: center;">
                              <%= course.total_mark%>
                            </td>
                          </tr>
                          <% } %>
                            <%})%>
                  </tbody>
                </table> 
          </div>
          <div class="tab__content-2">
            <div>
              <a style="float: right;" href="/admin/edit-course/<%= session_name %>/12" class="btn btn-primary">Edit</a>
            </div>

            <table class="table" id=table_field>
              <thead>
                <tr>
                  <th style="width: 5%;" scope="col">Dept</th>
                  <th style="width: 5%;" scope="col">Session</th>
                  <th style="width: 5%;" scope="col">Course Code</th>
                  <th style="width: 25%;" scope="col">Course Title</th>
                  <th style="width: 5%;" scope="col">Course Type</th>
                  <th style="width: 5%;" scope="col">Theory Credit</th>
                  <th style="width: 5%;" scope="col">Lab Credit</th>
                  <th style="width: 5%;" scope="col">Total Credit</th>
                  <th style="width: 10%;" scope="col">CE</th>
                  <th style="width: 5%;" scope="col">Attend</th>
                  <th style="width: 5%;" scope="col">SEE</th>
                  <th style="width: 5%;" scope="col">SE</th>
                  <th style="width: 5%;" scope="col">Total Marks</th>
  
                </tr>
              </thead>
              <tbody>
                <% courses.forEach((course)=>{%>
                  <% const courseKey=course.course_code.slice(-4) %>
                    <% if(courseKey[0]==='1' && courseKey[1]==='2'){%>
                      <tr>
                        <td style="text-align: center;">
                          <%= course.department_name %>
                        </td>
                        <td style="text-align: center;">
                          <%= course.session_name%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.course_code%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.course_title%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.course_type%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.theory_credit%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.lab_credit%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.total_credit%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.ce%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.attendence%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.see%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.se%>
                        </td>
                        <td style="text-align: center;">
                          <%= course.total_mark%>
                        </td>
                      </tr>
                      <% } %>
                        <%})%>
              </tbody>
            </table>
          </div>
          <!-- <div class="tab__content-3">Sub Tab Content 3</div>
          <div class="tab__content-4">Sub Tab Content 4</div> -->
        </div>
        </div>
      </div>
      <div class="tab__content-2">
        <div class="tab">
          <div data-child="true" class="tab__header">
            <div class="tab__header-1 tab__header--active">Semester 1</div>
            <div class="tab__header-2">Semester 2</div>
          </div>
          <div class="tab__content">
           
            <div class="tab__content-1 tab__content--active">
              <div>
                <a style="float: right;" href="/admin/edit-course/<%= session_name %>/21" class="btn btn-primary">Edit</a>
              </div>
              <table class="table" id=table_field>
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">Dept</th>
                    <th style="width: 5%;" scope="col">Session</th>
                    <th style="width: 5%;" scope="col">Course Code</th>
                    <th style="width: 25%;" scope="col">Course Title</th>
                    <th style="width: 5%;" scope="col">Course Type</th>
                    <th style="width: 5%;" scope="col">Theory Credit</th>
                    <th style="width: 5%;" scope="col">Lab Credit</th>
                    <th style="width: 5%;" scope="col">Total Credit</th>
                    <th style="width: 10%;" scope="col">CE</th>
                    <th style="width: 5%;" scope="col">Attend</th>
                    <th style="width: 5%;" scope="col">SEE</th>
                    <th style="width: 5%;" scope="col">SE</th>
                    <th style="width: 5%;" scope="col">Total Marks</th>
                  </tr>
                </thead>
                <tbody>
                  <% courses.forEach((course)=>{%>
                    <% const courseKey=course.course_code.slice(-4) %>
                      <% if(courseKey[0]==='2' && courseKey[1]==='1'){%>
  
                        <tr>
                          <td style="text-align: center;">
                            <%= course.department_name %>
                          </td>
                          <td style="text-align: center;">
                            <%= course.session_name%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_code%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_title%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_type%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.theory_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.lab_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.ce%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.attendence%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.see%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.se%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_mark%>
                          </td>
                        </tr>
                        <% } %>
                          <%})%>
                </tbody>
              </table> 
            </div>
            <div class="tab__content-2">
              <div>
                <a style="float: right;" href="/admin/edit-course/<%= session_name %>/22" class="btn btn-primary">Edit</a>
              </div>

              <table class="table" id=table_field>
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">Dept</th>
                    <th style="width: 5%;" scope="col">Session</th>
                    <th style="width: 5%;" scope="col">Course Code</th>
                    <th style="width: 25%;" scope="col">Course Title</th>
                    <th style="width: 5%;" scope="col">Course Type</th>
                    <th style="width: 5%;" scope="col">Theory Credit</th>
                    <th style="width: 5%;" scope="col">Lab Credit</th>
                    <th style="width: 5%;" scope="col">Total Credit</th>
                    <th style="width: 10%;" scope="col">CE</th>
                    <th style="width: 5%;" scope="col">Attend</th>
                    <th style="width: 5%;" scope="col">SEE</th>
                    <th style="width: 5%;" scope="col">SE</th>
                    <th style="width: 5%;" scope="col">Total Marks</th>
    
                  </tr>
                </thead>
                <tbody>
                  <% courses.forEach((course)=>{%>
                    <% const courseKey=course.course_code.slice(-4) %>
                      <% if(courseKey[0]==='2' && courseKey[1]==='2'){%>
                        <tr>
                          <td style="text-align: center;">
                            <%= course.department_name %>
                          </td>
                          <td style="text-align: center;">
                            <%= course.session_name%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_code%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_title%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_type%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.theory_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.lab_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.ce%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.attendence%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.see%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.se%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_mark%>
                          </td>
                        </tr>
                        <% } %>
                          <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab__content-3">
        <div class="tab">
          <div data-child="true" class="tab__header">
            <div class="tab__header-1 tab__header--active">Semester 1</div>
            <div class="tab__header-2">Semester 2</div>
          </div>
          <div class="tab__content">
            <div class="tab__content-1 tab__content--active">
              <div>
                <a style="float: right;" href="/admin/edit-course/<%= session_name %>/31" class="btn btn-primary">Edit</a>
              </div>

              <table class="table" id=table_field>
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">Dept</th>
                    <th style="width: 5%;" scope="col">Session</th>
                    <th style="width: 5%;" scope="col">Course Code</th>
                    <th style="width: 25%;" scope="col">Course Title</th>
                    <th style="width: 5%;" scope="col">Course Type</th>
                    <th style="width: 5%;" scope="col">Theory Credit</th>
                    <th style="width: 5%;" scope="col">Lab Credit</th>
                    <th style="width: 5%;" scope="col">Total Credit</th>
                    <th style="width: 10%;" scope="col">CE</th>
                    <th style="width: 5%;" scope="col">Attend</th>
                    <th style="width: 5%;" scope="col">SEE</th>
                    <th style="width: 5%;" scope="col">SE</th>
                    <th style="width: 5%;" scope="col">Total Marks</th>
                  </tr>
                </thead>
                <tbody>
                  <% courses.forEach((course)=>{%>
                    <% const courseKey=course.course_code.slice(-4) %>
                      <% if(courseKey[0]==='3' && courseKey[1]==='1'){%>
  
                        <tr>
                          <td style="text-align: center;">
                            <%= course.department_name %>
                          </td>
                          <td style="text-align: center;">
                            <%= course.session_name%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_code%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_title%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_type%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.theory_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.lab_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.ce%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.attendence%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.see%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.se%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_mark%>
                          </td>
                        </tr>
                        <% } %>
                          <%})%>
                </tbody>
              </table> 
            </div>
            <div class="tab__content-2">
              <div>
                <a style="float: right;" href="/admin/edit-course/<%= session_name %>/32" class="btn btn-primary">Edit</a>
              </div>
              <table class="table" id=table_field>
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">Dept</th>
                    <th style="width: 5%;" scope="col">Session</th>
                    <th style="width: 5%;" scope="col">Course Code</th>
                    <th style="width: 25%;" scope="col">Course Title</th>
                    <th style="width: 5%;" scope="col">Course Type</th>
                    <th style="width: 5%;" scope="col">Theory Credit</th>
                    <th style="width: 5%;" scope="col">Lab Credit</th>
                    <th style="width: 5%;" scope="col">Total Credit</th>
                    <th style="width: 10%;" scope="col">CE</th>
                    <th style="width: 5%;" scope="col">Attend</th>
                    <th style="width: 5%;" scope="col">SEE</th>
                    <th style="width: 5%;" scope="col">SE</th>
                    <th style="width: 5%;" scope="col">Total Marks</th>
    
                  </tr>
                </thead>
                <tbody>
                  <% courses.forEach((course)=>{%>
                    <% const courseKey=course.course_code.slice(-4) %>
                      <% if(courseKey[0]==='3' && courseKey[1]==='2'){%>
                        <tr>
                          <td style="text-align: center;">
                            <%= course.department_name %>
                          </td>
                          <td style="text-align: center;">
                            <%= course.session_name%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_code%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_title%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_type%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.theory_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.lab_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.ce%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.attendence%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.see%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.se%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_mark%>
                          </td>
                        </tr>
                        <% } %>
                          <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab__content-4">
        <div class="tab">
          <div data-child="true" class="tab__header">
            <div class="tab__header-1 tab__header--active">Semester 1</div>
            <div class="tab__header-2">Semester 2</div>
          </div>
          <div class="tab__content">
            <div class="tab__content-1 tab__content--active">
              <div>
                <a style="float: right;" href="/admin/edit-course/<%= session_name %>/41" class="btn btn-primary">Edit</a>
              </div>
              <table class="table" id=table_field>
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">Dept</th>
                    <th style="width: 5%;" scope="col">Session</th>
                    <th style="width: 5%;" scope="col">Course Code</th>
                    <th style="width: 25%;" scope="col">Course Title</th>
                    <th style="width: 5%;" scope="col">Course Type</th>
                    <th style="width: 5%;" scope="col">Theory Credit</th>
                    <th style="width: 5%;" scope="col">Lab Credit</th>
                    <th style="width: 5%;" scope="col">Total Credit</th>
                    <th style="width: 10%;" scope="col">CE</th>
                    <th style="width: 5%;" scope="col">Attend</th>
                    <th style="width: 5%;" scope="col">SEE</th>
                    <th style="width: 5%;" scope="col">SE</th>
                    <th style="width: 5%;" scope="col">Total Marks</th>
                  </tr>
                </thead>
                <tbody>
                  <% courses.forEach((course)=>{%>
                    <% const courseKey=course.course_code.slice(-4) %>
                      <% if(courseKey[0]==='4' && courseKey[1]==='1'){%>
  
                        <tr>
                          <td style="text-align: center;">
                            <%= course.department_name %>
                          </td>
                          <td style="text-align: center;">
                            <%= course.session_name%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_code%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_title%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_type%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.theory_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.lab_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.ce%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.attendence%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.see%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.se%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_mark%>
                          </td>
                        </tr>
                        <% } %>
                          <%})%>
                </tbody>
              </table> 
            </div>
            <div class="tab__content-2">
              <div>
                <a style="float: right;" href="/admin/edit-course/<%= session_name %>/42" class="btn btn-primary">Edit</a>
              </div>
              <table class="table" id=table_field>
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">Dept</th>
                    <th style="width: 5%;" scope="col">Session</th>
                    <th style="width: 5%;" scope="col">Course Code</th>
                    <th style="width: 25%;" scope="col">Course Title</th>
                    <th style="width: 5%;" scope="col">Course Type</th>
                    <th style="width: 5%;" scope="col">Theory Credit</th>
                    <th style="width: 5%;" scope="col">Lab Credit</th>
                    <th style="width: 5%;" scope="col">Total Credit</th>
                    <th style="width: 10%;" scope="col">CE</th>
                    <th style="width: 5%;" scope="col">Attend</th>
                    <th style="width: 5%;" scope="col">SEE</th>
                    <th style="width: 5%;" scope="col">SE</th>
                    <th style="width: 5%;" scope="col">Total Marks</th>
    
                  </tr>
                </thead>
                <tbody>
                  <% courses.forEach((course)=>{%>
                    <% const courseKey=course.course_code.slice(-4) %>
                      <% if(courseKey[0]==='4' && courseKey[1]==='2'){%>
                        <tr>
                          <td style="text-align: center;">
                            <%= course.department_name %>
                          </td>
                          <td style="text-align: center;">
                            <%= course.session_name%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_code%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_title%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.course_type%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.theory_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.lab_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_credit%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.ce%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.attendence%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.see%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.se%>
                          </td>
                          <td style="text-align: center;">
                            <%= course.total_mark%>
                          </td>
                        </tr>
                        <% } %>
                          <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="/scripts/jquery-multitabs.js"></script>
	<script>
	$('.tab3').multitabs();
	</script>
	

<%- include('../../partials/footer.ejs') %>
  
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="jtabs.min.js"></script>


</body>
</html>