<%- include('../../partials/header.ejs') %>

    <div class="my-container">
        <div class="container">
            <a href="/" class="btn btn-light">Back</a>
            <div class="card my-2">
                <div class="card-body">
                    <h5>Admin Page</h5>
                    <h4>Department of:
                        <%= user.department_name %>
                    </h4>
                    <hr>
                    <div class="row">
                        <% for(let i=0;i<exam_committee.length;i++){ %>
                            <div class="col col-lg-4 col-md-6 col-sm-12 p-2">
                                <div class="card card-body">
                                    <h4>
                                        Session:
                                        <%= exam_committee[i].session %>
                                    </h4>
                                    <h5>
                                        Year:
                                        <%= exam_committee[i].year %>
                                    </h5>
                                    <h5>
                                        Semester:
                                        <%= exam_committee[i].semester %>
                                    </h5>
                                    <a href="/admin/view-exam-committee/<%= exam_committee[i].id %> " class="btn btn-primary">Details</a>
                                </div>
                            </div>
                            <% } %>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>