<%- include('../../partials/header.ejs') %>

<div class="my-container">
    
    <div class="container">
        <a href="/admin/view-exam-committee" class="btn btn-light">Back</a>
        <div class="card my-2">
            <div class="card-body">
                <div style="overflow: hidden;">
                    <div style="float: left;">
                        <h5>Admin Page</h5>
                        <h4>Department of:
                            <%= user.department_name %>
                        </h4>
                    </div>

                    <div style="float: right;">
                        <a href="/admin/edit-exam-committee/<%= data.id %>" class="btn btn-info">Edit</a>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Disable</button>
                    </div>
                </div>
                <hr>
                <div>
                    <h5>Session:
                        <%= data.session %>
                    </h5>
                    <h6>
                        <p>Year:
                            <%= data.year %>
                        </p>
                        Semester:
                        <%= data.semester %>
                    </h6>
                </div>
                <div style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                    <h2 class="text-center">Exam Committee Information</h2>
                </div>
                <hr>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Member</th>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0;i<data.exam_committee_members.length;i++){ %>
                                <tr>
                                    <th scope="row">
                                        <%= (i+1) %>
                                    </th>
                                    <td>
                                        <%= data.exam_committee_members[i].exam_committee_role.role_type %>
                                    </td>
                                    <td>
                                        <%= data.exam_committee_members[i].user.name %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <div style="float:right">
                    <a href="/admin/create-instructor-panel/<%= data.id %>" class="btn btn-light" >Create Instructor Panel</a>
                    <a href="/admin/create-examiner-panel/<%= data.id %>" class="btn btn-light" style="pointer-events: none;">Create Examiner Panel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="card my-4">
                    <div style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                        <h2 class="text-center">Instructor Panel Information</h2>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <h1 style="text-align: center;">
                                Empty Instructor Panel
                            </h1>
                        </thead>
                    </table>
            </div>
        </div>

    <div class="container">
        <div class="card my-4">
            <div class="card-body">
                <hr>
        
                <div class="my-4" style="background-color: gray; padding: 5px; border-radius: 5px; color: white;">
                    <h2 class="text-center">Examiner Panel Information</h2>
                </div>
                <div style="overflow: hidden;">
                    <div style="float: right;">
                        <a href="/admin/edit-course-examiner-panel/<%= course_examiner_panel_member.id %>" class="btn btn-info">Edit</a>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal3">Disable</button>
                    </div>
                </div>
                <hr>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Course Code</th>
                                <th scope="col">Internal</th>
                                <th scope="col"></th>
                                <th scope="col">External</th>
                                <th scope="col"></th>
                                <th scope="col">Third Examiner</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0;i<course_examiner_panel_member.course_examiner_panel_members.length;i++){ %>
                                <tr>
                                    <th scope="row">
                                        <%= (i+1) %>
                                    </th>
                                    <td>
                                        <%= course_examiner_panel_member.course_examiner_panel_members[i].course.course_code %>
                                    </td>
                                    <td>
                                        <%= course_examiner_panel_member.course_examiner_panel_members[i].internal_examiner.name%>
                                    </td>
                                    <td>
                                        <a href="/admin/internal-examiner/list/<%= data.id %>/<%= course_examiner_panel_member.course_examiner_panel_members[i].id %>" class="btn btn-secondary" >Notify</a>
                                    </td>
                                    <td>
                                        <%= course_examiner_panel_member.course_examiner_panel_members[i].external_examiner.name %>
                                    </td>
                                    <td>
                                        <a href="/admin/external-examiner/list/<%= data.id %>/<%= course_examiner_panel_member.course_examiner_panel_members[i].id %>" class="btn btn-secondary" >Notify</a>
                                    </td>
                                    <td>
                                        <%= course_examiner_panel_member.course_examiner_panel_members[i].third_examiner.name %>
                                    </td>
                                    <td>
                                        <a href="/admin/third-examiner/list/<%= data.id %>/<%= course_examiner_panel_member.course_examiner_panel_members[i].id %>" class="btn btn-secondary" >Notify</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <a href="/admin/course-examiner/all-list/<%= course_examiner_panel_member.id %> " class="btn btn-primary m-1" style="float: right;">Notify</a>
                </div>
            </div>
        </div>
    </div>
   
</div>

<%- include('../../partials/footer.ejs') %>


    <!--  -->
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">



                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Do You Want TO Disable This Committee?</h4>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="disable_committee()" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>


            </div>
        </div>
    </div>

    <div class="modal" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">



                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Do You Want TO Disable This Examiner Panel?</h4>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="disable_examiner_panel()" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>


            </div>
        </div>
    </div>

  
    <!--  -->

    <!-- script -->
    <script>
        function disable_committee() {
            var id = '<%- data.id%>'
            var request = new XMLHttpRequest();
            request.open('PUT', 'http://localhost:1000/admin/view-exam-committee/disable/' + id);
            request.send();
            request.onload = () => {
                window.location = "http://localhost:1000/admin/view-exam-committee"
            }
        }

        function disable_examiner_panel() {
            var id = '<%- course_examiner_panel_member.id%>'
            var request = new XMLHttpRequest();
            request.open('PUT', 'http://localhost:1000/admin/view-course-examiner-panel/disable/' + id);
            request.send();
            request.onload = () => {
                window.location = "http://localhost:1000/admin/view-exam-committee"
            }
        }

    </script>
    <!-- script -->

    </body>

    </html>
   
